.headLink {
    display:flex;
}

.headLink li {
    list-style: none;
    padding-right: 10px;
}

.headerItem {
    display: flex;
    background-color: lightgray;
}

footer {
    background-color: lightgray;
}